/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face {
    font-family: 'GrilledCheese BTN';
    src: url('../../public/fonts/GrilledCheeseBTN.woff2') format('woff2'),
        url('../../public/fonts/GrilledCheeseBTN.woff') format('woff'),
        url('../../public/fonts/GrilledCheeseBTN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Variables */
:root {
    --primary: #CC215B;
    --secondary: #3E9EC7;
    --lambdoge: #FADE8E;
    --text: #5A3E14;
}

/* Base Styles */
* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}
body {
    background: linear-gradient(100.17deg, #F9AB34 4.57%, #FFE68E 94.51%);
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: "GrilledCheese BTN";
    font-size: 35px;
    color: var(--text);
    text-shadow: -2px 2px 0 white,
                2px 2px 0 white,
                2px -2px 0 white,
                -2px -2px 0 white;
    text-transform: uppercase;
}
h3 {
    font-family: "GrilledCheese BTN";
    font-size: 21px;
    color: var(--text);
    text-transform: uppercase;
}
p {
    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Buttons & Icons */
button {
    font-family: "GrilledCheese BTN";
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 340px;
    margin: 15px auto;
    padding: 15px 0;
    border-radius: 50px;
    background: none;
    border: 2px solid var(--primary);
    cursor: pointer;
}
.btn-solid {
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background: var(--primary);
}
.btn-outline {
    color: var(--primary);
}
.icon:hover {
    transform: scale(1.1);
}

/* Media Queries */
@media screen and (min-width: 680px) {
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 17px;
    }
}

@media screen and (min-width: 960px) {
    body {
        background: radial-gradient(37.19% 146.49% at 45.98% 49%, #FFE68E 0%, #F9AB34 100%);
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 55px;
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
}